* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  width: 150px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin: 0;
}

.logo {
  font-family: monospace;
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
}

.nav-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.nav-item.nav-link:hover {
  color: grey;
}

.nav-item-bottom {
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.main-content {
  width: 100%;
}


/*CSS for Home page Accept button pop page*/
.modal-overlaya {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-contenta {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height:30%;
  max-width: 450px;
  text-align: center;
  position: relative;
}

.modal-icona {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modal-buttonsa {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

.cancel-buttona, .ok-buttona {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.cancel-buttona {
  background-color: #ddd;
}

.cancel-buttona:hover {
  background-color: #bbb;
}

.ok-buttona {
  background-color: #007bff;
  color: white;
}

.ok-buttona:hover {
  background-color: #0056b3;
}


