.modal-content-ee {
  width: 45%;
  height: 90%;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.modal-header-ee {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.back-icon {
  font-size: 26px;
  cursor: pointer;
  color: #525050;
}

.modal-title-ee {
  font-size: 24px;
  font-weight: 500;
  color: #525050;
  font-family: "Rubik";
  margin-left:10px;
}

.form-group-ee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top:40px;
}

.form-group-ee label {
  font-size: 16px;
  font-weight: 500;
  color: #151313;
  font-family: 'Inter';
  margin-left: 20px;

}

.switch-ee {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  transform: translateX(-25px);
}

.switch-ee input {
  display: none;
}

.slider-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.employee-box {
  position: relative;
  width: 86%; 
  background: #EAEAED;
  border: 1px solid #EAEAED;
  border-radius: 8px;
  padding: 15px;
  height: 20px;
  margin-left: 20px;

}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.employee-header span {
  font-size: 16px;
  font-weight: 400;
  color: #969696;
  font-family: 'Inter';
  transition: color 0.2s ease;
}

.employee-header span.active {
  color: #000000; 
}

.status-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;
}

.chevron-icon {
  font-size: 16px;
  color: #525050;
}

.elist-name{
  font-size:16px;
  font-family: 'Inter';
  font-weight: 500;
  color: #151313;
  margin-bottom: 15px;
  margin-left: 20px;
}

.employee-box {
  width: 86%;
  background: #EAEAED;
  border: 1px solid #EAEAED;
  border-radius: 8px;
  padding: 15px;
  margin-left: 20px;
  overflow: hidden; 
  transition: height 0.3s ease; 
}

.employee-box.collapsed {
  height: 25px; 
}

.employee-box.expanded {
  height: auto; 
}

.divider {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
  display: none; 
}

.employee-box.expanded .divider {
  display: block; 
}

.dropdown-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 16px;
  font-family: 'Inter';
  color: #000000;
  margin-bottom: 8px;
}

.price{
  font-size: 16px;
  font-family: 'Inter';
  color: #969696;
  margin-bottom: 8px;
}