
.filter-panel {
  position: absolute;
  top: 60px; 
  right: 90px;
  width: 363px ;
  height: 532px ;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.filter-group {
  margin-bottom: 20px;

}

.filter-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 22px;
  font-family: 'Inter';
  margin-left: 20px;
}

.filter-buttons {
  display: flex; 
  flex-wrap: wrap; 
  gap: 30px; 
}

.filter-button {
  width: 130px; 
  height: 30px; 
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 16px; 
  cursor: pointer;
  text-align: center; 
  line-height: 30px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 20px;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

.filter-button.active {
  background-color: #d9d9d9;
  color: #000;
}


.navbar-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.navbar-icons .icon {
  font-size: 24px;
  cursor: pointer;
}
