.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-contain-pkg {
  background: #fff;
  width: 600px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  border-radius: 32px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group-pkg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group-pkg label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
  font-size: 16px;
  color: #151313;
  font-family: 'Inter';
  margin-left: 12px;
}

.form-group-pkg input[type="text"],
.form-group-pkg select {
  width: 92%;
  padding: 8px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  color: #8d8d8d;
  font-size: 16px;
  text-align: left; 
  margin-left: 12px;
  border-radius: 8px;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.form-group-pkg .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group-pkg .tag {
  background-color: #eaeaea;
  margin-left: 12px;
}

.form-group-pkg .tag:hover {
  background: #d0d0d0;
}

.form-group-pkg .tag-input {
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.add-tag-pd {
  padding: 5px 10px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group-pkg input[type="checkbox"] {
  margin-right: 10px;
}

.modal-footer-pkg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 38px;
}

.delete-button-pkg,
.save-button-pkg{
  width: 43%;
  height:32px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #D9D9D9;
  font-size: 16px;
  color: #000000;
  text-align: center;
  gap:15px;
}

.items-list-pkg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item-box-pkg {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 8px;
  margin-left: 12px;
  width: 92%;
}
.item-pkg {
  margin-top: 2px;
  margin-bottom: 2px;
  color:#000000;
  font-size: 16px;
  margin-left: 12px;
  font-family: 'Inter';
  font-weight: 00;
}