.instructions{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.forgot-password-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  
  
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
  }
  
  .forgot-password-container label {
    margin-bottom: 5px;
    align-self: flex-start; 
  }
  
  .forgot-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d0d0d1;
    border: 1px solid #d0d0d1;
    border-radius: 8px;
    box-sizing: border-box; 
    margin-bottom: 80px;
  }
  
  .forgot-password-container button {
      width: 279px;
      height:56px;
      border-radius: 40px;
      background-color: #d9d9d9;
      color: #000000;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  