.instructions{
    margin-top: 110px;
}

.forgot-password-container {
    width: 100%;
    max-width: 500px; 
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center; 
  }
  
  .forgot-password-container h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-size:28px;
    margin-bottom: 10px;
  }
  
  .forgot-password-container p {
    margin-bottom: 80px;
    font-family: Arial, sans-serif;
    font-size:14px;
    color: black;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-container label {
    margin-bottom: 5px;
    align-self: flex-start; 
  }
  
  .forgot-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d0d0d1;
    border: 1px solid #d0d0d1;
    border-radius: 8px;
    box-sizing: border-box; 
    margin-bottom: 80px;
  }
  
  .forgot-password-container button {
    width: 50%;
    padding: 10px;
    background-color: #d9d9d9;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  