/* 弹窗遮罩 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

  .popup-content {
    background: white;
    width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .order-tabs {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0; 
  }
  

  .active-tab {
    font-weight: bold;
    border-bottom: 3px solid black; 
    padding-bottom: 5px;
  }
  
  .search-bar {
    width: 300px;
    margin-left: auto;
  }
  
  .order-box {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  

  .order-box .ant-list-item-meta-title {
    font-weight: bold;
    padding-left: 20px;
  }

  .order-box .ant-list-item-meta-description {
    padding-left: 20px;
  }

  .cancel-order {
    color: black !important; 
    font-weight: normal; 
  }

  