.clients-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
}

.clients-navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  position: relative;
}
.clients-navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 1px; 
  background-color: #d9d9d9; 
}
.client-avatar {
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px; 
}

.tabs {
  display: flex;
  flex-grow: 1;
}

.tab {
  margin-right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.tab.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.clients-list {
  flex-grow: 1;
  padding: 20px;
}

.client-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #fff;
  margin-top: 10px;
}

.client-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.client-name {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter';
  margin-left:15px;
  margin-bottom: 5px;
}

.client-loyalty {
  color:#000000;
  margin-left:15px;
}

.client-details {
  text-align: right;
}

.client-tel {
  font-weight: bold;
}

.client-email {
  color: #000000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

  