.visit-history-header {
  padding: 10px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.ant-collapse-header {
    font-weight: bold;
  }
  
  .ant-modal-body {
    padding: 24px;
  }
    
  .client-stats {
    margin-top: 16px;
  }
  
  .custom-link:hover {
    color: grey;
  }

  .visit-history-content{
    margin-bottom: 245px;
  }

  .visit-history-panel {
    margin-bottom: 10px;
    margin-top: 10px;
  }